repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.5
  hooks:
    # Run the linter.
    - id: ruff-check
      types_or: [ python, pyi ]
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]

# Run pytest before committing
- repo: local
  hooks:
    - id: pytest
      name: pytest
      entry: bash -c 'uv run pytest tests/ -v'
      language: system
      pass_filenames: false
      always_run: true